body{
    display: grid;
    justify-items: center ;
    grid-template-columns: auto;
}
img{
    width: 250px;
}
input{
    margin: 10px;
    border: 4px gold dotted;
    height: 25px;
    width: 20%;
    outline: none;
    display: block;
}
form{
    height: 25px;
    width: 100%;
    margin-left: 70%;
}
button{
    margin-top: 20px;
    height: 50px;
    width: 70px;
    background-color: #66977d;
    border-radius: 30%;
    outline: none;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}