body{
    display: grid;
    justify-items: center ;
    grid-template-columns: auto;
    grid-template-areas: 'header header' 'main main' ;
    grid-gap: 20px;
    justify-content: space-around;
    
}
header{
    grid-area: header;
    font-size: 38pt;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    margin: 30px;
    color: #66977d;
}
div img{
    margin-top: 20px;
    width: 180px;
}
div{
    text-align: center;
    color: #66977d;
    font-size: 20px;
    font-family: "Comic Sans","Comic Sans MS", "cursive";
    filter: blur(3px);
}

.color{
    margin-right: 300px;
}
.comparison{
    margin-left: 300px;
}